Repository MorseKOB/PyKOB, pull requests merged in 2020-07, with the labels that each got.

#90 Lk 58 implement break behavior
  MKOB/MKOB.pyw
  MKOB/kobactions.py
  MKOB/kobconfig.py
  MKOB/kobmain.py
  MKOB/kobstationlist.py
  release-notes.md
Labels: MKOB

#95 Lk 92 config settings
  MKOB/MKOB.pyw
  MKOB/kobactions.py
  MKOB/kobconfig.py
  MKOB/kobmain.py
  MKOB/kobwindow.py
  pykob/__init__.py
  pykob/morse.py
  release-notes.md
Labels: MKOB, enhancement

#98 Lk 94 flag dropped packets
  MKOB/kobmain.py
  pykob/morse.py
  release-notes.md
Labels: MKOB, enhancement

#100 Adjust config enums to have numeric values. Use enum names to store t…
  MKOB/kobconfig.py
  pykob/config.py
Labels: enhancement

#101 lk-79-proportional-spacing
  MKOB/MKOB.pyw
  MKOB/kobconfig.py
  MKOB/kobmain.py
  MKOB/kobwindow.py
  pykob/__init__.py
  pykob/config.py
  pykob/morse.py
Labels: MKOB, enhancement

#103 Encoding file index error.
  pykob/morse.py
Labels: bug

#106 Es 105 print text
  MKOB/mkob.pth
  Sample.py
  pykob/morse.py
Labels: enhancement

#114 Add line breaks
  MKOB/kobmain.py
  pykob/morse.py
Labels: MKOB, enhancement

#121 Esc key resets wire state
  MKOB/MKOB.pyw
  MKOB/kobactions.py
  MKOB/kobmain.py
  MKOB/kobwindow.py
Labels: MKOB, enhancement

#122 Es 73 mkob installer
  .gitignore
  Configure.py
  MKOB.spec
  pyinstall/README.md
  pyinstall/w/Configure.spec
  pyinstall/w/MKOB.spec
  pyinstall/w/make.cmd
  pyinstall/w/make32.cmd
  pyinstall/w/make64.cmd
  pyinstall/w/make_common.cmd
  pykob/audio.py
  pykob/config.py
  pykob/data/codetable-american+punctuation.txt
  pykob/data/codetable-american.txt
  pykob/data/codetable-international.txt
  pykob/morse.py
  pykob/resources/clack48.wav
  pykob/resources/click48.wav
  setup.py
Labels: MKOB
